.app {
  text-align: center;
}
.app-body {
  background-color: white;
}

/* Header */
header {
  align-items: center;
  background-color: #EEEEEE;
  border-bottom: 1px solid #dfdede;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-between;
  padding: 25px 20px;
}
header .header-logo {
  max-width: 75px;
  height: 75px;
}
header .header-title {
  color: #7A7A7A;
}

/* Feature List View */
.page-feature {
  text-align: center;
  margin: auto;
}
.feature-table {
  display: inline-block;
}
.feature-table tbody tr td:first-child,
.feature-table tbody tr td:nth-child(3) {
  text-align: left;
}

/* Detail View */
.page-detail {
  text-align: center;
}
.page-detail .detail-table {
  display: inline-block;
}
.page-detail .detail-table tbody tr {
  margin-bottom: 10px;
}
.page-detail .detail-table tbody tr td {
  text-align: left;
  padding-bottom: 10px;
}
.page-detail .detail-table tbody tr td:first-child {
  padding-right: 20px;
  width: 100px;
  font-weight: bold;
}

/* Profile Page View */

.page-profile .profile-content {
  align-items: top;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap; */
	justify-content: center;
  padding: 25px 20px;
}
.page-profile .profile-content .profile-image {
  margin-right: 20px;
  margin-top: 10px;
}
.page-profile .profile-content .profile-image .profile-avatar {
  width: 140px;
  height: 200px;
}
.page-profile .profile-content .profile-details {

}

.page-profile .profile-content .profile-details .profile-table {
  max-width: 375px;
}
.page-profile .profile-content .profile-details .profile-table tbody tr {
  margin-bottom: 10px;
}
.page-profile .profile-content .profile-details .profile-table tbody tr td {
  text-align: left;
  padding-bottom: 10px;
  max-width: 235px;
}
.page-profile .profile-content .profile-details .profile-table tbody tr td:first-child {
  padding-right: 20px;
  width: 100px;
  font-weight: bold;
}




body {
  background-color: white;
}

.App-link {
  color: #61dafb;
}
